### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchData = pd.read_csv(file_to_load)
purchData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Pull player list "SN" using .loc
playerList = purchData.loc[:, ["SN"]]
#Use .nunique to get a count of unique players from "SN"
uniquePlayer = playerList["SN"].nunique()
#Use .DataFrame to print the output and to set column header
pd.DataFrame({"Total Players": [uniquePlayer]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#use .unique to get a count of unique items on "Item Name"
NumberPurchased = len(purchData["Item ID"].unique())
#get average price using .mean
AvgItemPrice = purchData["Price"].mean()
#AvgItemPrice["Price"] = AvgItemPrice["Price"].map('${:,.2f}'.format)
#use .count to determine the number of purchases
PurchaseCount = purchData["Price"].count()
#use .sum to get total revenue
TotalRevenue = purchData["Price"].sum()


#create summary table to incorperate the calculations into a single table
SummaryTable = pd.DataFrame({"Number of Unique Items": [NumberPurchased],
                             "Average Price": [AvgItemPrice],
                             "Number of Purchases": [PurchaseCount],
                             "Total Revenue": [TotalRevenue]})
#use .round() on the DataFrame to limit to 2 decimal places
SummaryTable = SummaryTable.round(2)

SummaryTable

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Get gender data from column "Gender" using .loc
GenderList = purchData.loc[:, ["Gender"]]
#Use values_count to get the count on the different strings in GenderList
GenderTotals = GenderList["Gender"].value_counts()
#Calulcate Percent
GenderPercent = GenderTotals / uniquePlayer * 100
#Generate new DataFrame to add column headers
GenderTableOutput = pd.DataFrame({"Percentage of Players": GenderPercent, "Total Count": GenderTotals})
#use .round() on the DataFrame to limit to 2 decimal places
GenderTableOutput = GenderTableOutput.round(2)

GenderTableOutput

                       Percentage of Players  Total Count
Male                                  113.19          652
Female                                 19.62          113
Other / Non-Disclosed                   2.60           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#use .groupby .mean to determine the number of purchases by Gender
GenPurchaseCount = purchData.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#use .groupby .mean to determine the average purchase price by Gender
GenAvgPurchasePrice = purchData.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
#use .groupby .sum to get total value by Gender
GenPurchaseValue = purchData.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
#divide the GenPurchseValue by the total count GenderTableOutput dataframe to get the average purchase per person
AvgPurchasePPerson = GenPurchaseValue / GenderTableOutput["Total Count"]

AvgPurchasePPerson

#Put it all into a DataFrame
GenGroups = pd.DataFrame({"Purchase Count": GenPurchaseCount, "Average Purchase Price": GenAvgPurchasePrice, "Total Purchase Value": GenPurchaseValue, "Avg Purchase Total per Person": AvgPurchasePPerson})
#use .round() on the DataFrame to limit to 2 decimal places
GenGroups = GenGroups.round(2)

GenGroups

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Get age data from column "Age" using .loc
AgeList = purchData.loc[:, ["Age"]]
#Group players using the age bins
AgeList["Age Ranges"] = pd.cut(AgeList["Age"], age_bins, labels=group_names)

#use .value_counts to get the counts for the age bins
PlayerAgeRange = AgeList["Age Ranges"].value_counts()
#divide the PlayerAgeRange against uniquePlayers to get the percent
AgePercent = PlayerAgeRange / uniquePlayer * 100
AgeTable = pd.DataFrame({"Total Count": PlayerAgeRange, "Percentage of Players": AgePercent})
#use .round() on the DataFrame to limit to 2 decimal places
AgeTable = AgeTable.round(2)

AgeTable.sort_index()

       Total Count  Percentage of Players
<10             23                   3.99
10-14           28                   4.86
15-19          136                  23.61
20-24          365                  63.37
25-29          101                  17.53
30-34           73                  12.67
35-39           41                   7.12
40+             13                   2.26

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame